extends /_includes/_layout
block variables
  - const pageId = "contact"
  - const title = "this is contact"
  - const description = "this is desc"
  - const canonical = "www.○○○.com"

block content
  main
    h1 Contact
