extends /_includes/_layout
block variables
  - const pageId = 'top';
  - const title = 'this is top';
  - const description = 'this is desc';
  - const canonical = 'www.○○○.com';

block content
  main.preloader
    p.preloader__txt
      | Haha, this is the preloader.
      | Surprise...!
    .preloader__number 0%

