block head
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title="hahah title"
meta(name="description" content="hahah desc")

link(rel="shortcut icon" href=require('assets/images/icons/favicon.ico').default)
